<div class="menu">
    <div class="menu-item">
        <img src="assets\imgs\png\logoFatec.png" alt="">
    </div>
    <div class="menu-item">
        <span>A Fatec</span>
    </div>
    <div class="menu-item">
        <span>Cursos</span>
    </div>
    <div class="menu-item">
        <span>Vestibular</span>
    </div>
    <div class="menu-item">
        <span>Diretoria Acadêmica</span>
    </div>
    <div class="menu-item">
        <span>Diretoria Administrativa</span>
    </div>
    <div class="menu-item">
        <span>Biblioteca</span>
    </div>
    <div class="menu-item">
        <span>Alunos</span>
    </div>
</div>
<div class="menu-nomeof">
    Faculdade de Tecnologia José Crespo Gonzales
</div>
